<p id="notice"><%= notice %></p>

<% if @resp.code == '200' %>
  <p>
    Notification has been sent successfully
  </p>

<% else %>
  <p>
    Notification has been with error
  </p>

<% end %>


Google response:<br/>
<%= "#{@resp.code} - #{@resp.message}" %><br/>
<%= "#{@resp.body}" %>


<p>
<%= link_to 'Back', @tablet %>
